@import url("https://fonts.googleapis.com/css?family=Oswald|Lato:300");

/* >>>>>----------- Global settings */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Lato;
  color: #777777;
}

h2 {
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #555555;
}


.vertical-center {
  min-height: 75%;  
  min-height: 75vh;

  display: flex;
  align-items: center;
}

/* >>>>>----------- Navbar settings */
#nav-main ul li a{
  color:#8e8c84;
}

/* >>>>>----------- homepage settings */
/*
#Homepage {
  height: 100%;
}


#left-home {
  padding-top: 30px;
  width: 33%;
  float: left;
}

#right-home {
  padding-top: 30px;
  width: 33%;
  float: right;
}

#center-home {
  width: 33%;
  margin: 0 auto;
}

.left-home-heading {
  width: 50%;
  float: right;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.right-home-heading {
  width: 50%;
  float: left;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.right-home-heading h2 {
  text-align: right;
}

#welcome {
  margin: 20px 0;
  text-align: center;
  font-size: 280%;
}
*/
#circle-container {
  width: 300px;
  height: 300px;
  padding: 30px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  border-radius: 50%;
  margin: 0 auto;
}

#circle-cover-bg {
  background: url("../../../assets/images/raspi-sm.jpg") no-repeat center center;
  height: 100%;
  border-radius: 50%;
}
